/* Contact ---------------------------------------------------- */

.contact {
	

	.column-header {
		// Map embed
		.content-image {
			padding-top: 0;
			padding-bottom: 0;
			background-image: none;
			height: 32rem;
			@media only screen and (max-width: $container-size-m) {
				height: 20rem;
			}
			@media only screen and (max-width: $container-size-s) {
				height: 20rem;
				max-height: none;
			}

		}
	}
	

	.header-title-wrapper  {
		.header-title {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			bottom: unset !important;
			max-width: 33rem;
			min-width: 33rem;
			height: auto !important;
			color: $lit-col;
			padding-top: 3rem;
			padding-bottom: 3rem;
			@media only screen and (max-width: $container-size-m) {
				max-width: none;
				min-width: 0;
			}

			h1 {
				font-size: 3rem;
				@media only screen and (max-width: $container-size-m) {
					font-size: 1.5rem;
					margin-bottom: 0;
				}
			}

			.scroll-down {
				max-width: 10rem;
				align-items: center;
				&:hover {
					text-decoration: none;
					.scroll-text {
						text-decoration: underline;
					}
					.arrow {
						text-decoration: none;
					}
				}
	
				span.scroll-text {
					margin-left: 0;
				}
	
				.arrow {
					margin-left: auto;
					font-size: 1.3rem;
					text-decoration: none;
				}
			}
		}


	}

	
	.column-content {
		.content-wrapper {
			h2 {
				margin-bottom: 2rem;
				@media only screen and (max-width: $container-size-m) {
					font-size: 1.5rem;
					margin-bottom: 1rem;
				}
			}
		}
	}

	.location-wrapper {
		display: flex;
		margin-bottom: 4rem;

		@media only screen and (max-width: $container-size-ml) {
			flex-direction: column-reverse;
			margin-bottom: 2rem;
		}
		
		&:last-of-type {
			margin-bottom: 0;
		}
		
		.location-details {
			flex: 2;

			p {
				margin-top: 0;
			}

			a {
				text-decoration: none;
			}

			.times-table {
				border-collapse: collapse;
				margin-bottom: 1em;
				margin-left: -0.5rem;
				td {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
				.today {
					background-color: lighten($ter-col, 5%);

				}
			}

		}
		
		.location-photo {
			flex: 3;
			img {
				width: 100%;
				height: auto;
			}
		}

	}

	.social-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: bold;
		
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
			text-align: left;
			align-items: flex-start;
		}

		.social-items {
			display: flex;
			margin-left: auto;
			align-items: center;
			
			@media only screen and (max-width: $container-size-m) {
				margin-left: 0;
				margin-top: 1rem;
			}

			span {
				margin-right: 1rem;
			}

			a {
				width: 3rem;
				display: inline-block;
				margin-right: 0;
				img {
					width: 100%;
					height: auto;
				}
			}

		}

	}


}


/* Contact form overlay --------------------------------- */

.a-fadeIn {
	animation: fadeIn .25s forwards;
}

.a-fadeOut {
	animation: fadeOut .25s;
}

.a-fadeDown {
	animation: fadeDown .25s;
}

.error {
	border-color: $sec-col !important; 
}

#bedankt-melding {
	text-align: center;
}


// Contact overlay
.contact-overlay-wrapper {
	display: none; // Toggle with JS
	//display: block; // debug mode
	background-color: #acc7db;
	z-index: 99;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: $lit-col;
	// needed for js toggle
	&.Contact--show {
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}
	
	.contact-overlay-container {
		width: 60vw;
		padding-top: 5vh;
		@media only screen and (max-width: $container-size-m) {
			width: 70vw;
		}

		@media only screen and (max-width: $container-size-s) {
			width: 90vw;
		}

		margin: 0 auto;
		display: flex;
		align-items: center;
		height: 100%;

		.contact-content-wrapper {
			display: flex;
			flex-direction: row;
			@media only screen and (max-width: $container-size-m) {
				flex-direction: column;
			}

			margin-bottom: 2rem;	
			h2 {
				flex: 2;
				line-height: 3.5rem;
				@media only screen and (max-width: $container-size-m) {
					font-size: 4rem;
				}
				@media only screen and (max-width: $container-size-s) {
					margin-right: 0;
					font-size: 2rem;
					line-height: 2.8rem;
				}

				br {
					@media only screen and (max-width: $container-size-s) {
						display: none;
					}
				}
	

			}
			form {
				flex: 3;
			}
		}

		h2 {
			font-size: 3rem;
			font-weight: 300;
			line-height: 4.5rem;
			color: inherit;
			text-align: right;
			margin-right: 1em;
			margin-top: 0;
			@media only screen and (max-width: $container-size-m) {
				margin-right: 0;
				font-size: 2rem;
				line-height: 3rem;
			}

			strong {
				font-weight: 600;
			}

			@media only screen and (max-width: $container-size-s) {
				font-size: 1.5em;
			}
		}

		.label-wrapper {
			display: flex;
			flex-direction: row;
			border-bottom: solid 1px $lit-col;
			input {
				flex: 2;
			}
			label {
				flex: 1;
				display: flex;
				align-items: center;
				border: none;
				border-right: 0;
				padding-left: 0.5rem;
				padding-right: 0;
				flex-shrink: 0;
				flex-grow: 0;
				flex-basis: 9rem;
			}
		}

		input {
			display: block;
			border-color: $lit-col;
			background-color: transparent;
			color: $lit-col;
			font-family: $fon-fam-pri;
			width: 100%;
			box-sizing: border-box;
			border-radius: 0;
			border: none;
			padding-left: 1rem;
			padding-right: 1rem;
			padding-top: 0.7rem;
			padding-bottom: 0.7rem;

			&::placeholder {
				color: $pri-col;
				font-family: $fon-fam-sec;
				font-weight: normal;
			}

			&[type="submit"] {
				margin-top: 1em;
				background-color: $qua-col;
				color: $lit-col;
				border: none;
				font-weight: normal;
				text-transform: uppercase;

				&:hover{
					color: $lit-col;
					background-color: $pri-col;
					cursor: pointer;
					border: none;
				}
			}
		}

		textarea {
			box-sizing: border-box;
			width: 100%;
			height: 15rem;
			-webkit-appearance: none;
			@media only screen and (max-width: $container-size-s) {
				height: 7em;
			}
			padding-left: 1em;
			padding-right: 1em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			background: transparent;
			border-color: $lit-col;
			border: solid 1px $lit-col;
			border-top: none;
			color: inherit;
			font-family: $fon-fam-pri;
			font-weight: normal;

			&::placeholder {
				color: inherit;
				font-family: $fon-fam-pri;
			}

		}


		.close-overlay{
			position: absolute;
			right: 2rem;
			top: 2rem;
			fill: $lit-col;
			text-decoration: none;
			width: 3rem;
			height: 3rem;

			&:hover {
				fill: $pri-col;
				cursor: pointer;
			}

		}

		.close-overlay-text {
			text-align: center;
			text-decoration: none;
			margin-top: 1rem;
			padding-bottom: 2em;
			color: $pri-col;
			@media only screen and (max-width: $container-size-s) {
				margin-top: 3vh;
			}
			&:hover {
				color: $qua-col;
				cursor: pointer;
			}
		}
	}
}
