
/* General elements */
body, html {
	font-family: $fon-fam-pri;
	height: auto;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: $pri-col;
}

html {
  box-sizing: border-box;
}

body.u-overflow-hidden, 
html.u-overflow-hidden {
	overflow: hidden;
	position: fixed;
}


*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
	font-family: $fon-fam-sec;
	font-weight: bold;
	color: $pri-col;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: square;
}

a {
	color: $dar-col;
	text-decoration: underline;
	font-size: 1.3rem;
}

select { outline: none; }

textarea:focus, 
input:focus {
    outline: none;
}

input::placeholder {
	color: #A1A9B7;
}

.uppercase {
	text-transform: uppercase;
}

// Autocomplete
ul.ui-autocomplete {

	.ui-menu-item {
		cursor: pointer;
		.ui-menu-item-wrapper {
			padding: 0.7rem;
			&:hover {
				background: $pri-col;
				color: $lit-col;
			}
		}
	}
}

/* General layout elements */
.page-wrapper {
	display: flex;
	width: 100%;
	height: auto; // never 100%, this breaks stuff
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3rem;
	overflow-x: hidden; // to fix animation causing scrollbars
}

/* Page template specific */
.primary-nav {
	display: flex;
	align-items: center;
	position: relative;

	@media only screen and (max-width: $container-size-m) {
		height: 6rem;
		padding-left: 1rem;
	}

	.logo-container {
		margin-top: 2rem;
		max-width: 13rem;
		width: 100%; // Firefox fix
		@media only screen and (max-width: $container-size-m) {
			margin-left: 0;
			margin-right: 1rem;
			padding-left: $margin-size-s;
		}
		img {
			width: 100%;
		}
		.desktop-logo {
			display: block;
			width: 11rem; // Firefox fix
			@media only screen and (max-width: $container-size-m) {
				display: none;
			}
		}
		.mobile-beeldmerk {
			display: none;
			@media only screen and (max-width: $container-size-m) {
				display: block;
				width: 100%;
				padding-top: 0;
				padding-left: 0;
				padding-bottom: 2rem;
				margin-bottom: 0;
			}

		}
	}

	nav {
		margin-left: auto;
		font-weight: 500;
		font-size: 1.2rem;
		font-family: $fon-fam-pri;
		text-transform: uppercase;


		@media only screen and (max-width: $container-size-m) {
			display: none;
			margin-left: 0;
			position: absolute;
			background-color: $qua-col;
			width: 100%;
			height: auto;
			color: $lit-col;
			top: 6rem;
			left: 0;
			z-index: 99;
			text-align: center;
			padding-top: 0;
			padding-bottom: 2rem;
			transition: height 0.3s;
			height: 0;
			&.open {
				display: block;
				transition: all 0.3s;
				height: auto;
				//box-shadow: 0px 0px 20px 0px rgba(113, 113, 113, 0.3);
			}
		}

		> ul {
			@media only screen and (max-width: $container-size-m) {
				margin-right: 0;
			}
			> li {
				display: inline-flex;
				margin-right: 1.3rem;
				font-family: $fon-fam-pri;

				@media only screen and (max-width: $container-size-l) {
					margin-right: 0.5rem;
				}

				&.active {
					> a {
						color: $qua-col;
					} 
				}

				@media only screen and (max-width: $container-size-m) {
					display: block;
					font-size: 3rem;
					margin-right: 0;
					padding-top: 1rem;
					padding-bottom: 0;
					font-weight: bold;
				}



				> a {
					text-decoration: none;
					padding-left: 1rem;
					padding-right: 1rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					color: $pri-col;
					font-family: $fon-fam-pri;

					@media only screen and (max-width: $container-size-l) {
						font-size: 1rem;
					}
					
					@media only screen and (max-width: $container-size-m) {
						color: $lit-col;
						font-size: 2rem;

					}

					&.open {
						color: $lit-col;
						background-color: $sec-col;						
					}

					&:hover {
						color: $lit-col;
						background-color: $sec-col;
					}



				}

				> ul {
					background-color: $sec-col;
					width: auto;
					height: auto;
					flex-direction: column;
					flex-wrap: wrap;
					position: absolute;
					z-index: 50;
					padding-left: 1.3rem;
					padding-right: 3rem;
					padding-top: 3rem;
					padding-bottom: 2rem;
					margin-top: 2.45rem;
					@media only screen and (max-width: $container-size-l) {
						margin-top: 2.15rem;
					}

					margin-right: 4rem;
					//display: flex;
					display: none; // toggle with JS
					@media only screen and (max-width: $container-size-m) {
						position: relative;
						margin-top: 0;
						padding-top: 1rem;
						padding-bottom: 0;
						display: block;
						padding-left: 0;
						padding-right: 0;
						width: 100%;
						align-items: center;
					}
					
					&.open {
						display: flex;
					}

					li {
						color: $lit-col;
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-bottom: 2rem;
						@media only screen and (max-width: $container-size-m) {
							margin-bottom: 0.5rem;
							align-items: center;
						}

						a {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							color: $lit-col;
							text-decoration: none;
							font-size: 1.3rem;
							&:hover {
								text-decoration: underline;
							}
							@media only screen and (max-width: $container-size-m) {
								font-size: 1rem;
								align-items: center;
							}
						}
					}

					&.menu-33 {
						flex-direction: row;
						//display: flex;

						display: none; // toggle with JS

						// IE11 temp fix
						@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
						    margin-left: -6.2rem;
						}

						&.open {
							display: flex;
						}
						@media only screen and (max-width: $container-size-m) {
							display: block;
							width: 100%;
						}


						li {
							color: $lit-col;
							width: 33.333%;
							margin-bottom: 3rem;

							display: flex;
							flex-direction: column;
							align-items: center;
							@media only screen and (max-width: $container-size-m) {
								width: 100%;
								margin-bottom: 0.5rem;
							}
							
							a {
								display: flex;
								flex-direction: column;
								align-items: center;
								color: $lit-col;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
								font-size: 1.3rem;

								@media only screen and (max-width: $container-size-l) {
									font-size: 1rem;
								}
								svg {
									fill: $pri-col;
									width: 4rem;
									height: 4rem;
									padding-left: 0.5rem;
									padding-right: 0.5rem;
									margin-bottom: 1rem;
									@media only screen and (max-width: $container-size-m) {
										display: none;
									}

								}

								&:hover {
									color: $lit-col;
									svg {
										fill: $lit-col;
									}
								}
							}
						}

					}
				}

			}
		}
	}

	.mobile-toggle {
		width: 3rem;
		margin-right: $margin-size-m;
		display: none;
		cursor: pointer;
		@media only screen and (max-width: $container-size-m) {
			display: block;

		}

		img {
			width: 100%;
		}
		.hamburger-icon {
			display: none;
			&.open {
				@media only screen and (max-width: $container-size-m) {
					display: block;
				}
			}
		}

		.close-icon {
			display: none;
			&.open {
				@media only screen and (max-width: $container-size-m) {
					display: block;
				}
			}
		}
	}

	.mobile-contact-icon {
		display: none;
		width: 2.5rem;
		height: 2.5rem;
		margin-left: auto;
		margin-right: 1.5rem;
		@media only screen and (max-width: $container-size-m) {
			display: block;
		}
		img {
			width: 100%;
		}
	}



}

.content-wrapper {
	width: 100%;
	max-width: $container-size-xxl;
}


/* Reusable blocks --------------------------------------*/

.items-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	//flex-shrink: 0;
	margin-top: 5rem;
	margin-bottom: 4rem;

	.items-container {
		display: flex;
		height: 100%;
		width: 100%;
		margin-left: 14vw;
		margin-right: 14vw;

		@media only screen and (max-width: $container-size-l) {
			margin-left: 2vw;
			margin-right: 2vw;
		}

		@media only screen and (max-width: $container-size-m) {
			margin-left: 0;
			margin-right: 0;
		}

		justify-content: space-between;
		flex-wrap: wrap;

		.item-container {
			display: flex;
			// height: 100%;
			// @media only screen and (max-width: $container-size-m) {
			// 	width: 100%;
			// }

			flex-direction: column;
			position: relative;
			margin-bottom: auto;
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				margin-top: 0;
				margin-bottom: 2rem;
			}

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			
			.item-image-wrapper {
				position: relative;
				margin-right: 3rem; // make up for the button
				@media only screen and (max-width: $container-size-l) {
					margin-right: 1rem;
				}

				@media only screen and (max-width: $container-size-m) {
					margin-right: 0;
				}

				.hover-overlay {
					a {
						width: 100%;
						height: 100%;
						display: flex;
					}
				}

				.item-image {
					height: 18rem;
					width: 23rem;



					@media only screen and (max-width: $container-size-m) {
						width: 100%;
						height: 15rem;
					}

					background-image: url("../resources/item-thumb.jpg");
					overflow: hidden;
					background-size: cover;
					background-position-x: center;
					background-position-y: center;
					flex-shrink: 0;
				}				
			}


			.item-title {
				position: relative;
				font-weight: bold;
				max-width: 23rem; //must match block size
				@media only screen and (max-width: $container-size-m) {
					font-weight: bold;
					font-size: 1.3rem;
					padding-left: $margin-size-m;
					padding-right: $margin-size-m;
				}

			}
			.item-button {
				position: absolute;
				bottom: 0;
				right: -3rem;
				z-index: 5;
				padding-top: 2.3rem;
				padding-bottom: 2.3rem;
				padding-left: 2.3rem;
				padding-right: 2.3rem;
				background: $sep-col;
				color: $lit-col;
				text-decoration: none;
				@media only screen and (max-width: $container-size-m) {
					right: 0;
				}
				&:hover {
					background-color: $pri-col;
					color: $lit-col;
					text-decoration: none;
				}
			}
			
			&:last-of-type{
				margin-top: 3rem;
				@media only screen and (max-width: $container-size-m) {
					margin-top: 0;
				}

				.item-image {
					background-image: url("../resources/item-thumb2.jpg");
				}
				@media only screen and (max-width: $container-size-m) {
					.item-title {
						bottom: 0;
					}
				}
			}

		}
	}

}
