
/* General elements */
body, html {
	font-family: $fon-fam-pri;
	height: auto;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: $pri-col;
}

html {
  box-sizing: border-box;
}

body.u-overflow-hidden, 
html.u-overflow-hidden {
	overflow: hidden;
	position: fixed;
}


*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
	font-family: $fon-fam-sec;
	font-weight: bold;
	color: $pri-col;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: square;
}

a {
	color: $dar-col;
	text-decoration: underline;
	font-size: 1.3rem;
}

select { outline: none; }

textarea:focus, 
input:focus {
    outline: none;
}

input::placeholder {
	color: #A1A9B7;
}

.uppercase {
	text-transform: uppercase;
}

// Autocomplete
ul.ui-autocomplete {

	.ui-menu-item {
		cursor: pointer;
		.ui-menu-item-wrapper {
			padding: 0.7rem;
			&:hover {
				background: $pri-col;
				color: $lit-col;
			}
		}
	}
}

/* General layout elements */
.page-wrapper {
	display: flex;
	width: 100%;
	height: auto; // never 100%, this breaks stuff
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	padding-bottom: 3rem;
	overflow-x: hidden; // to fix animation causing scrollbars
}

/* Page template specific */
.primary-nav {
	display: flex;
	align-items: center;
	position: relative;

	@media only screen and (max-width: $container-size-m) {
		height: 6rem;
		padding-left: 1rem;
	}

	.logo-container {
		margin-top: 2rem;
		max-width: 13rem;
		width: 100%; // Firefox fix
		@media only screen and (max-width: $container-size-m) {
			margin-left: 0;
			margin-right: 1rem;
			padding-left: $margin-size-s;
		}
		img {
			width: 100%;
		}
		.desktop-logo {
			display: block;
			width: 11rem; // Firefox fix
			@media only screen and (max-width: $container-size-m) {
				display: none;
			}
		}
		.mobile-beeldmerk {
			display: none;
			@media only screen and (max-width: $container-size-m) {
				display: block;
				width: 100%;
				padding-top: 0;
				padding-left: 0;
				padding-bottom: 2rem;
				margin-bottom: 0;
			}

		}
	}

	// Primary nav container
	nav {
		margin-left: auto;
		font-weight: 500;
		font-size: 1.2rem;
		font-family: $fon-fam-pri;
		text-transform: uppercase;


		@media only screen and (max-width: $container-size-m) {
			display: none;
			margin-left: 0;
			position: absolute;
			background-color: $qua-col;
			width: 100%;
			height: auto;
			color: $lit-col;
			top: 6rem;
			left: 0;
			z-index: 99;
			text-align: center;
			padding-top: 0;
			padding-bottom: 2rem;
			transition: height 0.3s;
			height: 0;
			&.open {
				display: block;
				transition: all 0.3s;
				height: auto;
				//box-shadow: 0px 0px 20px 0px rgba(113, 113, 113, 0.3);
			}
		}

		> ul {
			@media only screen and (max-width: $container-size-m) {
				margin-right: 0;
			}

			> li {
				display: inline-flex;
				margin-right: 1.3rem;
				font-family: $fon-fam-pri;
				font-weight: 300;
				text-transform: uppercase;

				@media only screen and (max-width: $container-size-l) {
					margin-right: 0.5rem;
				}

				&.active {
					> a {
						color: $qua-col;
					} 
				}

				@media only screen and (max-width: $container-size-m) {
					display: block;
					font-size: 3rem;
					margin-right: 0;
					padding-top: 1rem;
					padding-bottom: 0;
					font-weight: bold;
				}



				> a {
					text-decoration: none;
					padding-left: 1rem;
					padding-right: 1rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					color: $pri-col;
					font-family: $fon-fam-pri;
					font-weight: 400;

					@media only screen and (max-width: $container-size-l) {
						font-size: 1rem;
					}
					
					@media only screen and (max-width: $container-size-m) {
						color: $lit-col;
						font-size: 2rem;

					}

					&.open {
						color: $lit-col;
						background-color: $sec-col;						
					}

					&:hover {
						color: $lit-col;
						background-color: $sec-col;
					}



				}

				// Hover menu
				> ul {
					background-color: rgba($sec-col, 0.9);
					backdrop-filter: blur(2px);
					width: auto;
					height: auto;
					flex-direction: column;
					flex-wrap: wrap;
					position: absolute;
					z-index: 50;
					padding-left: 1.3rem;
					padding-right: 3rem;
					padding-top: 3rem;
					padding-bottom: 2rem;
					margin-top: 2.45rem;
					@media only screen and (max-width: $container-size-l) {
						margin-top: 2.15rem;
					}

					margin-right: 4rem;
					//display: flex;
					display: none; // toggle with JS
					@media only screen and (max-width: $container-size-m) {
						position: relative;
						margin-top: 0;
						padding-top: 1rem;
						padding-bottom: 0;
						display: block;
						padding-left: 0;
						padding-right: 0;
						width: 100%;
						align-items: center;
					}
					
					&.open {
						display: flex;
					}

					// Hover menu item
					li {
						color: $lit-col;
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-bottom: 1rem;
						text-transform: none;
						font-size: 1rem;

						@media only screen and (max-width: $container-size-m) {
							margin-bottom: 0.5rem;
							align-items: center;
						}

						// Hover menu link
						a {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							color: $lit-col;
							text-decoration: none;
							font-size: 1rem;
							&:hover {
								text-decoration: underline;
							}
							@media only screen and (max-width: $container-size-m) {
								font-size: 1rem;
								align-items: center;
							}
						}
					}

				}

			}
		}
	}

	.mobile-toggle {
		width: 3rem;
		margin-right: $margin-size-m;
		display: none;
		cursor: pointer;
		@media only screen and (max-width: $container-size-m) {
			display: block;

		}

		img {
			width: 100%;
		}
		.hamburger-icon {
			display: none;
			&.open {
				@media only screen and (max-width: $container-size-m) {
					display: block;
				}
			}
		}

		.close-icon {
			display: none;
			&.open {
				@media only screen and (max-width: $container-size-m) {
					display: block;
				}
			}
		}
	}

	.mobile-contact-icon {
		display: none;
		width: 2.5rem;
		height: 2.5rem;
		margin-left: auto;
		margin-right: 1.5rem;
		@media only screen and (max-width: $container-size-m) {
			display: block;
		}
		img {
			width: 100%;
		}
	}



}

.content-wrapper {
	width: 100%;
	max-width: $container-size-xl;
}


/* Reusable blocks --------------------------------------*/

.items-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	//flex-shrink: 0;
	margin-top: 5rem;
	margin-bottom: 5rem;

	.items-container {
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 3rem;

		@media only screen and (max-width: $container-size-m) {
			padding-left: $margin-size-m;
			padding-right: $margin-size-m;
		}	

		.item-container {
			display: flex;
			flex-direction: row;
			position: relative;
			margin-bottom: 1.5rem;

			@media only screen and (max-width: $container-size-m) {
				flex-direction: column;
			}

			// Reverse even items
			&:nth-of-type(2n) {
				flex-direction: row-reverse;
				@media only screen and (max-width: $container-size-m) {
					flex-direction: column;
				}
				.item-image-wrapper {
					margin-right: 0;
				}

				.item-image-content-wrapper {
					margin-right: 5rem;
					@media only screen and (max-width: $container-size-m) {
						margin-right: 0;
					}
						
				}

			}

			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				margin-top: 0;
				margin-bottom: 2rem;
			}

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

			// Left
			.item-image-wrapper {
				position: relative;
				margin-right: 5rem; // make up for the button
				flex: 1;
				@media only screen and (max-width: $container-size-l) {
					margin-right: 1rem;
				}

				@media only screen and (max-width: $container-size-m) {
					margin-right: 0;
				}

				.hover-overlay {
					a {
						width: 100%;
						height: 100%;
						display: flex;
					}
				}

				.item-image {
					width: 100%;
					height: 100%;
					background-image: url("../resources/item-thumb.jpg");
					overflow: hidden;
					background-size: cover;
					background-position-x: center;
					background-position-y: center;
					flex-shrink: 0;

					@media only screen and (max-width: $container-size-m) {
						width: 100%;
						height: 15rem;
					}
				}				
			}

			// Right
			.item-image-content-wrapper {
				flex: 1;
				padding-top: 3rem;
				padding-bottom: 3rem;
			}


			.item-title {
				position: relative;
				font-weight: bold;
				font-size: 2rem;
				font-weight: 400;
				color: $pri-col;
				text-transform: uppercase;
				margin-top: 0;
				margin-bottom: 1rem;
				@media only screen and (max-width: $container-size-m) {
					font-weight: bold;
					font-size: 1.3rem;
				}

				a {
					color: inherit;
					font-size: inherit;
				}

			}

			.item-content-excerpt {
				margin-bottom: 1.5rem;
				font-size: 1.2rem;
				line-height: 1.5rem;

			}

			.item-button {
				font-size: 1.2rem;
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				margin-right: 2rem;
				background: $pri-col;
				color: $lit-col;
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;
				@media only screen and (max-width: $container-size-s) {
					width: 100%;
					margin-bottom: 1rem;
				}

				&:hover {
					background-color: $sec-col;
					color: $lit-col;
					text-decoration: none;
				}

				&:last-of-type {
					margin-right: 0;
					@media only screen and (max-width: $container-size-s) {
						margin-bottom: 0;
					}
				}

				&.ghost {
					background-color: transparent;
					border: solid 2px $pri-col;
					color: $pri-col;
					&:hover {
						border-color: $sec-col;
						color: $sec-col;
					}
				}
			}
			
			&:last-of-type{
				margin-top: 3rem;
				@media only screen and (max-width: $container-size-m) {
					margin-top: 0;
				}

				.item-image {
					background-image: url("../resources/item-thumb2.jpg");
				}
				@media only screen and (max-width: $container-size-m) {
					.item-title {
						bottom: 0;
					}
				}
			}

		}
	}

}

/* Footer  ---------------------------------- */

.primary-footer {
	min-height: 10rem;
	height: auto;
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	background-color: $sen-col;
	color: $lit-col;
	margin-top: -4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 3rem;
	font-size: 1rem;
	position: relative;
	width: 100%;
	align-items: center;

	.content-container {
		width: 100%;
		max-width: $container-size-l;
	}

	a {
		color: $lit-col;
		text-decoration: none;
		font-size: 1rem;

		&:hover {
			text-decoration: underline;
		}
	}

	.phone-icon {
		width: 3rem;
		position: absolute;
		right: 2rem;
		top: -1px;
		@media only screen and (max-width: $container-size-m) {
			width: 4rem;

		}
		img {
			width: 100%;
		}
	}

	.footer-row-1 {
		display: flex;
		flex: 1;
		flex-direction: row;
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column-reverse;
			font-size: 1.3rem;
		}


		
		.footer-links-wrapper {
			width: 100%;
			display: flex;
			flex: 1;
			flex-direction: row;
			@media only screen and (max-width: $container-size-m) {
				flex-direction: column;
			}

			.footer-links-col-1 {
				margin-right: 2rem;
				a {
					color: $ter-col;
				}
				@media only screen and (max-width: $container-size-m) {
					font-size: 1.3rem;
					margin-right: 0;
					a {
						font-size: 1.5rem;
					}
				}

			}

			.footer-links-col-2 {
				a {
					color: $ter-col;
				}
				@media only screen and (max-width: $container-size-m) {
					margin-right: 0;

					a {
						font-size: 1.5rem;
					}
				}
			}

		}
		
		.footer-contact-wrapper {
			flex: 1;
			align-items: center;
			text-align: right;
			margin-top: 1rem;
			@media only screen and (max-width: $container-size-m) {
				text-align: left;
				margin-bottom: 3rem;
				margin-top: 2rem;
			}
			@media only screen and (max-width: $container-size-s) {
				margin-top: 2rem;
			}

			.contact-phone {
				a {
					font-size: 2.3rem !important;
					font-weight: bold;

					@media only screen and (max-width: $container-size-m) {
						font-size: 2rem;
						text-align: right;
					}

					margin-bottom: 0.3rem;
				}
			}

			a {
				@media only screen and (max-width: $container-size-m) {
					display: block;
					width: 100%;
					text-align: right;
				}
			}
		}
	}

	.footer-row-2 {
		flex: 1;
		margin-top: 2rem;
		a {
			align-items: center;
			display: flex;
			color: $ter-col;
		}
		@media only screen and (max-width: $container-size-m) {
			margin-top: 4rem;
			white-space: nowrap;
			a {
				align-items: center;
				display: flex;
				font-size: 1.2rem;
			}
		}

		.nvm-logo {
			width: 1.3rem;
			margin-right: 1rem;
			@media only screen and (max-width: $container-size-m) {
				width: 1.3rem;
				margin-right: 1rem;
			}
		}
		.rating {
			color: $qua-col;
			font-weight: bold;
			margin-left: 0.3rem;
			margin-right: 0.3rem;
		}
		
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			display: none; // IE11 fix temp
		}
	}


	.social-links {
		margin-left: auto;
		font-size: 0; // remove space between icons
		display: flex;
		@media only screen and (max-width: $container-size-m) {
			margin-top: 0;
		}

		a {
			height: 3rem;
			width: 3rem;
			display: inline-block;
			margin-right: 0;

			.fb-icon {
				fill: #3b5997;
			}

			.tw-icon {
				fill: #089fe8;
			}
			.in-icon {
				fill: #0077b4; 
			}

			svg {
				&:hover {
					fill: $pri-col;
				}
			}

			&.instagram {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				align-self: stretch;
				background-color: #8a49a1;
				height: 100%;
				height: 3rem;
				width: 3rem;

				&:hover {
					background-color: $pri-col;
				}

				svg {
					color: $lit-col;
					fill: currentColor;
					width: 1.2rem;
					height: 1.2rem;

				}
			}


		}

	}

}

.secondary-footer {
	display: flex;
	color: $oct-col;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;

	@media only screen and (max-width: $container-size-m) {
		margin-left: 0;
		padding-left: 2rem;
		align-items: baseline;
		flex-direction: column-reverse;
	}


	.content-container {
		width: 100%;
		max-width: $container-size-l;
	}

	.links-wrapper {
		@media only screen and (max-width: $container-size-m) {
			margin-top: 2rem;
		}

		span {
			margin-right: 1rem;
			@media only screen and (max-width: $container-size-m) {
				display: block;
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}
		}
		a {
			color: inherit;
			font-size: inherit;
			margin-right: 1rem;
			text-decoration: none;
			margin-right: 0.5rem;
			@media only screen and (max-width: $container-size-m) {
				display: block;
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}
			&:hover {
				text-decoration: underline;
			}

			.entity {
				@media only screen and (max-width: $container-size-m) {
				display: none;
				}
			}
		}
	}


}

