@import 'variables';
@import 'mixins';
@import 'global';
@import 'homepage';
@import '2col';
@import 'aanbod';
@import 'contact';
@import 'zoekers';



.partners-banner-wrapper {
	background-color: darken($lit-col, 10%);
	padding-top: 5rem;
	padding-bottom: 5rem;
	width: 100%;
	justify-content: center;
	position: relative;
	display: flex;
	.column-content {
		.column-content {
			justify-content: flex-start;
			flex-direction: column;
		}
	}
	h4 {
		text-transform: uppercase;
		color: $pri-col;
		font-size: 1.4rem;
		margin-top: 0;
	}
	.partner-logos-wrapper {
		display: flex;
		.partner-logo {
			margin-right: 1.5rem;
			width: 10rem;

			img {
				width: 100%;
				height: 5rem;
				object-fit: contain;	
			}
		}
	}
}

/* Paging -------------------------------------------  */
.paging-wrapper {
	display: flex;
	align-items: center;
	@media only screen and (max-width: $container-size-m) {
		flex-direction: column;
		margin-bottom: 2rem;
	}

	.text-wrapper {
		@media only screen and (max-width: $container-size-m) {
			width: 100%;
			padding-left: $margin-size-s;
			padding-right: $margin-size-s;
			text-align: center;
		}
		.bold {
			font-weight: bold;
		}
	}

	.numbers-wrapper {
		margin-left: auto;
		font-weight: bold;
		@media only screen and (max-width: $container-size-m) {
			width: 100%;
			padding-left: $margin-size-s;
			padding-right: $margin-size-s;
			text-align: center;
		}
		
		span {
			a {
				padding-left: 1.2rem;
				padding-right: 1.2rem;
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				font-size: 1rem;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					background-color: $pri-col;
					color: $lit-col;
					text-decoration: none;
				}
			}
			&.active {
				color: $ter-col;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
			&.no-link {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		}

		.next {
			background-color: $pri-col;
			margin-left: 1rem;
			display: inline-block;
			a {
				display: block;
				text-decoration: none;
				color: $lit-col;
				font-size: 1rem;
				padding-left: 1rem;
				padding-right: 1rem;
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				&:hover {
					background: $ter-col;
				}
			}
		}

	}

}

.back-link {
	text-decoration: none;
	font-size: 1rem;
	color: $pri-col;
	margin-left: auto;
	margin-top: auto;
	display: flex;
	font-weight: 300;

	&:hover {
		color: $sec-col;
	}

	span {
		display: inline-block;
		transform: rotate(-180deg);	
	}

	&.ali-top {
		margin-top: 0;
	}

	@media only screen and (max-width: $container-size-m) {
		margin-left: 0;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

}

// Scroll anchor
.anchor {
	display: block;
	position: relative;
	top: -2rem;
	visibility: hidden;
}

.hover-overlay {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	transition: all 0.3s ease-in-out;
	background: rgba(0, 0, 0, 0);	
	&:hover {
		background: rgba(255, 255, 255, 0.15);	
	}
}


.secondary-label {
	background: $qua-col;
	color: $lit-col;
	padding: 1rem;
	position: absolute;
	z-index: 5;
	right: 0;
	bottom: 0;
	@media only screen and (max-width: $container-size-m) {
		background: rgba($qua-col, 0.9);
		padding: 0.7rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		line-height: 1.3rem;
		font-size: 0.9rem;
	}
}

.banner-wrapper {
	background-color: $qua-col;
	color: $lit-col;
	height: auto;
	display: flex;
	text-decoration: none;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
	padding-right: 2rem;
	margin-right: 6rem;
	margin-bottom: 3rem;
	@media only screen and (max-width: $container-size-xl) {
		margin-right: 3rem;
	}
	@media only screen and (max-width: $container-size-l) {
		flex-direction: column;
		margin-right: 0;
	}
	@media only screen and (max-width: $container-size-m) {
		padding-left: $margin-size-m;
		padding-right: $margin-size-m;
	}
	&:hover {
		background-color: $pri-col;
		color: $lit-col;
		.banner-title {
			color: $lit-col;
		}

		.banner-link {
			text-decoration: underline;
		}
	}

	.banner-title {
		font-size: 2.5rem;
		font-family: $fon-fam-sec;
		margin-right: 15rem;
		margin-bottom: 0;
		flex: 5;
		line-height: 2.5rem;
		align-self: flex-end;
		padding-bottom: 1rem;
		@media only screen and (max-width: $container-size-l) {
			margin-right: 0;
		}
		@media only screen and (max-width: $container-size-m) {
			margin-top: 0;
			font-size: 2rem;
		}

	}

	.banner-link {
		flex: 2;
		align-self: flex-end;
		color: $lit-col;
		text-decoration: none;
		flex-grow: 0;
		white-space: nowrap;
		flex-basis: auto;
	}

}

/* Partners ----------------------------------------------- */

.partners-table {
	td {
		width: 25%;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		img {
			width: auto;
			max-width: 70%;
			height: auto;
		}
	}
}

/* Energy labels --------------------------------------------*/

// Energy labels
.energy-label {
	// Default styling
	background-color: #999;
	padding: 0 .625rem;
	margin: 0 1.5rem 0 0;
	color: $dar-col; 
	margin-right: 1.5rem;
	position: relative;
	height: 1.5rem;
	display: inline-block;
	text-transform: uppercase;
	
	line-height: 1.4rem;
	// A label
	&.energy-label-a {
		background-color: #009342;
		color: $lit-col;
		&:after {
			border-left-color: #009342;
		}
	}
	// B label
	&.energy-label-b {
		background-color: #1ba943;
		color: $lit-col;
		&:after {
			border-left-color: #1ba943;
		}
	}
	// C label
	&.energy-label-c {
		background-color: #9ecf1b;
		color: $lit-col;
		&:after {
			border-left-color: #9ecf1b;
		}
	}
	// D label
	&.energy-label-d {
		background-color: #f8f51c;
		color: $dar-col;
		&:after {
			border-left-color: #f8f51c;
		}
	}

	// E label
	&.energy-label-e {
		background-color: #f4b003;
		color: $dar-col;
		&:after {
			border-left-color: #f4b003;
		}
	}

	// F label
	&.energy-label-f {
		background-color: #df6d14;
		color: $lit-col;
		&:after {
			border-left-color: #df6d14;
		}
	}

	// G label
	&.energy-label-g {
		background-color: #db261d;
		color: $lit-col;
		&:after {
			border-left-color: #db261d;
		}
	}

	// Arrow element
	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		top: 0;
		left: 100%;
		border-color: transparent transparent transparent #999;
		border-style: solid;
		border-width: .75rem 0 .75rem .75rem;
	}
}

// Vimeo and youtube embed
.vimeo-embed-container,
.video-embed-wrapper,
.youtube-embed-wrapper { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto;
	margin-bottom: 1rem;
	background: rgba(53, 45, 45, 0.2);

	&.square {
		padding-bottom: 100%;
	}
	
	iframe, 
	object, 
	embed { 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
	}
}

// Popup
.popup-wrapper {
	position: fixed;
	bottom: 2rem;
	right: -30rem;
	padding: 2rem;
	background: $pri-col;
	color: $lit-col;
	z-index: 10;
	display: flex;
	flex-direction: column;
	transition: right 2s ease, opacity 1s linear;
	
	@media only screen and (max-width: $container-size-m) {
		padding: 1.5rem;
		opacity: 0;
		transition: right 1s ease, opacity, 1s linear;
	}
	
	&.active {
		display: flex;
		right: 2rem;
		@media only screen and (max-width: $container-size-m) {
			left: 1rem;
			right: 1rem;
			bottom: 1rem;
			width: calc(100% - 2rem);
			opacity: 1;
		}
	}

	h4 {
		color: inherit;
		margin-top: 0;
		margin-bottom: 0;
		font-size: 1.3rem;
		@media only screen and (max-width: $container-size-m) {
			font-size: 1.2rem;
		}
	}

	p {
		font-size: 1rem;
		&:last-of-type {
			margin-bottom: 0;
		}
	}

	a {
		font-size: 1rem;
		color: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	.popup-close {
		position: absolute;
		right: 0.7rem;
		top: 0.7rem;
		width: 1rem;
		height: 1rem;
		display: block;
		cursor: pointer;
		svg {

			.st0 {
				color: $lit-col;
				fill: $lit-col;
			}
		}
	}
}

