// debug mode
//* { border: solid 1px red; }

// Set custom font
@font-face {
  font-family: "bodoni-bold";
  src: url("../fonts/BodoniFLF-Bold.ttf");
  font-weight: bold; 
}


@font-face {
  font-family: "helvetica neue";
  src: url("../fonts/HelveticaNeue-ThinCond.ttf");
  font-weight: lighter; 
}


// Define font family
$fon-fam-pri: 'Titillium Web', sans-serif; // primary font
$fon-fam-sec: 'bodoni-bold'; // secondary font
$fon-fam-ter: 'helvetica neue'; // 


// Set color variables
$pri-col: #003064 ; // Dark blue
$sec-col: #00519B ; // Mid blue
$ter-col: #DAE1ED ; // Light blue
$qua-col: #2CBCAF ; // Bright green
$qui-col: #CCE9f5 ; // Brighter blue
$sen-col: #00519b ; // 90% Dark blue
$sep-col: #C3C12C ; // Grass green
$oct-col: #0091D1 ; // Bright blue
$non-col: #DAE1ED ; // Lila overlay color

$overlay-col: rgba(218, 225, 237, 0.8); // overlay RGBA color
$overlay-col-sec: rgba(218, 225, 237, 0.9); // overlay RGBA color


$lit-col: white;
$dar-col: black;
$mid-col: #333333; // light gray

// Define container sizes for responsive views
$container-size-xxl: 1500px; // desktop and beyond
$container-size-xl: 1366px; // desktop and beyond
$container-size-l: 1200px; // laptop
$container-size-ml: 1000px; // border between desktop/tablet
$container-size-m: 768px; // tablet
$container-size-s: 480px; // mobile
$container-size-xs: 200px; // minimum size

// page margins
$margin-size-s: 1rem; // tiny margin
$margin-size-m: 2rem; // small margin
$margin-size-l: 5vw; // big dynamic margin



/* General elements */
body, html {
	font-family: $fon-fam-pri;
	height: auto;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: $pri-col;
}

html {
  box-sizing: border-box;
}

body.u-overflow-hidden, 
html.u-overflow-hidden {
	overflow: hidden;
	position: fixed;
}


*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
	font-family: $fon-fam-sec;
	font-weight: bold;
	color: $pri-col;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: square;
}

a {
	color: $dar-col;
	text-decoration: underline;
	font-size: 1.3rem;
}

select { outline: none; }

textarea:focus, 
input:focus {
    outline: none;
}

/* General layout elements */
.page-wrapper {
	display: flex;
	width: 100%;
	height: auto; // never 100%, this breaks stuff
	max-width: $container-size-xxl;
	margin: 0 auto;
	flex-direction: column;
	padding-bottom: 3rem;
}

/* Page template specific */



.primary-nav {
	display: flex;
	align-items: center;
	position: relative;
	@media only screen and (max-width: $container-size-m) {
		height: 6rem;
		padding-left: 1rem;
	}
	.logo-container {
		margin-top: 2rem;
		max-width: 13rem;
		padding-left: $margin-size-m;
		width: 100%; // Firefox fix
		@media only screen and (max-width: $container-size-m) {
			margin-left: 0;
			margin-right: 1rem;
			padding-left: $margin-size-s;
		}
		img {
			width: 100%;
		}
		.desktop-logo {
			display: block;
			width: 11rem; // Firefox fix
			@media only screen and (max-width: $container-size-m) {
				display: none;
			}
		}
		.mobile-beeldmerk {
			display: none;
			@media only screen and (max-width: $container-size-m) {
				display: block;
				width: 100%;
				padding-top: 0;
				padding-left: 0;
				padding-bottom: 2rem;
				margin-bottom: 0;
			}

		}
	}

	nav {
		margin-left: auto;
		font-weight: 600;
		font-size: 1.2rem;
		@media only screen and (max-width: $container-size-m) {
			display: none;
			margin-left: 0;
			position: absolute;
			background-color: $qua-col;
			width: 100%;
			height: auto;
			color: $lit-col;
			top: 6rem;
			left: 0;
			z-index: 99;
			text-align: center;
			padding-top: 0;
			padding-bottom: 2rem;
			transition: height 0.3s;
			height: 0;
			&.open {
				display: block;
				transition: all 0.3s;
				height: auto;
				box-shadow: 0px 0px 20px 0px rgba(113, 113, 113, 0.3);
			}
		}

		> ul {
			margin-right: 4rem;
			@media only screen and (max-width: $container-size-m) {
				margin-right: 0;
			}
			> li {
				display: inline-flex;
				margin-right: 1.3rem;
				@media only screen and (max-width: $container-size-l) {
					margin-right: 0.5rem;
				}

				@media only screen and (max-width: $container-size-m) {
					display: block;
					font-size: 3rem;
					margin-right: 0;
					padding-top: 1rem;
					padding-bottom: 0;
					font-weight: bold;
				}



				> a {
					text-decoration: none;
					padding-left: 1rem;
					padding-right: 1rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					color: $pri-col;
					@media only screen and (max-width: $container-size-l) {
						font-size: 1rem;
					}
					
					@media only screen and (max-width: $container-size-m) {
						color: $lit-col;
						font-size: 2rem;

					}

					&.open {
						color: $lit-col;
						background-color: $qua-col;						
					}

					&:hover {
						color: $lit-col;
						background-color: $qua-col;
					}



				}

				> ul {
					background-color: $qua-col;
					width: auto;
					height: auto;
					flex-direction: column;
					flex-wrap: wrap;
					position: absolute;
					z-index: 50;
					padding-left: 1.3rem;
					padding-right: 3rem;
					padding-top: 3rem;
					padding-bottom: 2rem;
					margin-top: 2.45rem;
					@media only screen and (max-width: $container-size-l) {
						margin-top: 2.15rem;
					}

					margin-right: 4rem;
					//display: flex;
					display: none; // toggle with JS
					@media only screen and (max-width: $container-size-m) {
						position: relative;
						margin-top: 0;
						padding-top: 1rem;
						padding-bottom: 0;
						display: block;
						padding-left: 0;
						padding-right: 0;
						width: 100%;
						align-items: center;
					}
					
					&.open {
						display: flex;
					}

					li {
						color: $lit-col;
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-bottom: 2rem;
						@media only screen and (max-width: $container-size-m) {
							margin-bottom: 0.5rem;
							align-items: center;
						}

						a {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							color: $lit-col;
							text-decoration: none;
							font-size: 1.3rem;
							&:hover {
								text-decoration: underline;
							}
							@media only screen and (max-width: $container-size-m) {
								font-size: 1rem;
								align-items: center;
							}
						}
					}

					&.menu-33 {
						flex-direction: row;
						//display: flex;

						display: none; // toggle with JS

						// IE11 temp fix
						@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
						    margin-left: -6.2rem;
						}

						&.open {
							display: flex;
						}
						@media only screen and (max-width: $container-size-m) {
							display: block;
							width: 100%;
						}


						li {
							color: $lit-col;
							width: 33.333%;
							margin-bottom: 3rem;

							display: flex;
							flex-direction: column;
							align-items: center;
							@media only screen and (max-width: $container-size-m) {
								width: 100%;
								margin-bottom: 0.5rem;
							}
							
							a {
								display: flex;
								flex-direction: column;
								align-items: center;
								color: $lit-col;
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
								font-size: 1.3rem;

								@media only screen and (max-width: $container-size-l) {
									font-size: 1rem;
								}
								svg {
									fill: $pri-col;
									width: 4rem;
									height: 4rem;
									padding-left: 0.5rem;
									padding-right: 0.5rem;
									margin-bottom: 1rem;
									@media only screen and (max-width: $container-size-m) {
										display: none;
									}

								}

								&:hover {
									color: $lit-col;
									svg {
										fill: $lit-col;
									}
								}
							}
						}

					}
				}

			}
		}
	}

	.mobile-toggle {
		width: 3rem;
		margin-left: auto;
		margin-right: $margin-size-m;
		display: none;
		cursor: pointer;
		@media only screen and (max-width: $container-size-m) {
			display: block;

		}

		img {
			width: 100%;
		}
		.hamburger-icon {
			display: none;
			&.open {
				@media only screen and (max-width: $container-size-m) {
					display: block;
				}
			}
		}

		.close-icon {
			display: none;
			&.open {
				@media only screen and (max-width: $container-size-m) {
					display: block;
				}
			}
		}
	}



}

/* Reusable blocks --------------------------------------*/

.items-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	//flex-shrink: 0;
	margin-top: 5rem;
	margin-bottom: 4rem;

	.items-container {
		display: flex;
		height: 100%;
		width: 100%;
		margin-left: 12vw;
		margin-right: 12vw;
		@media only screen and (max-width: $container-size-l) {
			margin-left: 5vw;
			margin-right: 5vw;
		}

		@media only screen and (max-width: $container-size-m) {
			margin-left: 0;
			margin-right: 0;
		}

		justify-content: space-around;
		flex-wrap: wrap;

		.item-container {
			display: flex;
			// height: 100%;
			// @media only screen and (max-width: $container-size-m) {
			// 	width: 100%;
			// }

			flex-direction: column;
			position: relative;
			margin-bottom: auto;
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				margin-top: 0;
				margin-bottom: 2rem;
			}

			a {
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			
			.item-image-wrapper {
				position: relative;
				.hover-overlay {
					a {
						width: 100%;
						height: 100%;
						display: flex;
					}
				}

				.item-image {
					height: 18rem;
					width: 23rem;
					@media only screen and (max-width: $container-size-l) {
						height: 10rem;
						width: 15rem;
					}

					@media only screen and (max-width: $container-size-m) {
						width: 100%;
						height: 15rem;
					}

					background-image: url("../resources/item-thumb.jpg");
					overflow: hidden;
					background-size: cover;
					background-position-x: center;
					background-position-y: center;
					flex-shrink: 0;
				}				
			}


			.item-title {
				position: relative;
				font-weight: bold;

				@media only screen and (max-width: $container-size-m) {
					font-weight: bold;
					font-size: 1.3rem;
					padding-left: $margin-size-m;
					padding-right: $margin-size-m;
				}

			}
			.item-button {
				position: absolute;
				bottom: 0;
				right: -3rem;
				z-index: 5;
				padding-top: 2.3rem;
				padding-bottom: 2.3rem;
				padding-left: 2.3rem;
				padding-right: 2.3rem;
				background: $sep-col;
				color: $lit-col;
				text-decoration: none;
				@media only screen and (max-width: $container-size-m) {
					right: 0;
				}
				&:hover {
					background-color: $pri-col;
					color: $lit-col;
					text-decoration: none;
				}
			}
			
			&:last-of-type{
				margin-top: 3rem;
				@media only screen and (max-width: $container-size-m) {
					margin-top: 0;
				}

				.item-image {
					background-image: url("../resources/item-thumb2.jpg");
				}
				@media only screen and (max-width: $container-size-m) {
					.item-title {
						bottom: 0;
					}
				}
			}

		}
	}

}



/* Homepage template ----------------------------------------------- */
.homepage-wrapper {
	display: flex;
	position: relative;
	overflow-x: hidden;

	header {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		position: relative;
		margin-top: 0rem;
		margin-bottom: 1rem;
		padding-bottom: 0.5rem;
		@media only screen and (max-width: $container-size-m) {
			margin-top: 0;
			margin-bottom: 5em;
			margin-bottom: 0;
			padding-bottom: 0;
		}


		.header-image {
			display: flex;
			width: 100vw;
			position: relative;
			align-self: center;
			margin-left: -15rem;
			margin-top: -4rem;
			margin-right: 5rem;
			@media only screen and (max-width: $container-size-m) {
				position: absolute;
				margin-left: 0;
				margin-top: 0;
				margin-right: 0;
				width: 100%;
				top: 0;
				display: none;
			}

			z-index: 4;
			img {
				width: 100%;
				height: auto;
				align-self: flex-end;
				@media only screen and (max-width: $container-size-m) {
					align-self: flex-start;
					
				}

			}
		}
		
		.header-overlay-wrapper {
			display: flex;
			flex-direction: column;
			width: 70vw;
			height: auto;
			position: relative;
			
			margin-left: 5rem;
			margin-top: 3rem;
			margin-bottom: 7rem;
			padding-left: 5rem;
			padding-right: 5rem;			
			@media only screen and (max-width: $container-size-m) {
				margin-left: 0;
				margin-right: 0;
				margin-top: 0;
				margin-bottom: 0;
				padding-left: 2rem;
				padding-right: 2rem;
				padding-bottom: 3rem;
				width: 100%;
				animation-name: none !important;
				background-image: url("../resources/homepage-header.jpg");
				background-size: cover;
				background-position: 100% 50%;
				position: relative;

				&:after {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: " ";
					z-index: 3;
					background-color: $overlay-col;
				}

			}

			z-index: 5;
			background-color: $overlay-col;
			h1 {
				z-index: 4;
				font-size: 3.5rem;
				@media only screen and (max-width: $container-size-l) {
					font-size: 2rem;
				}
			}

			a {
				color: $sec-col;
				padding-top: 0.3rem;
				padding-bottom: 0.3rem;
				margin-bottom: 1rem;
				font-size: 1.1em;
				text-decoration: none;
				font-weight: 600;
				z-index: 4;
				&:hover {
					text-decoration: underline;
					color: $pri-col;
				}
			}

			.meer-jack-frenken {
				position: absolute;
				bottom: -4rem;
				color: $pri-col;
				@media only screen and (max-width: $container-size-m) {
					display: none;
				}

			}
		}
	}

	.service-bar {
		background-color: $pri-col;
		color: $lit-col;
		display: flex;
		width: auto;
		height: auto;
		margin-right: 8vw;
		z-index: 3;
		@media only screen and (max-width: $container-size-m) {
			width: 100%;
			margin-right: 0;
			padding-bottom: 3rem;
		}

		.service-quote {
			h2 {
				font-size: 3rem;
				color: $lit-col;
				margin-left: 4rem;
				margin-right: 1rem;
				@media only screen and (max-width: $container-size-l) {
					font-size: 2rem;
				}
				@media only screen and (max-width: $container-size-m) {
					display: none;
				}
			}
		}

		.anchor {
			display: block;
			position: relative;
			top: -55px;
			visibility: hidden;
		}
		.service-wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-left: auto;
			margin-right: 3rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			justify-content: flex-end;

			@media only screen and (max-width: $container-size-m) {
				margin-right: 0;
				margin-left: 0;
				padding-top: 3rem;
				padding-bottom: 0;
				padding-left: 2rem;
				padding-right: 2rem;
				justify-content: space-between;
				width: 100%;
			}

			a {
				margin-left: 1rem;
				color: $lit-col;
				text-decoration: none;
				font-size: 1rem;
				margin-left: 4rem;
				
				@media only screen and (max-width: $container-size-l) {
					margin-left: 3rem;
				}

				@media only screen and (max-width: $container-size-ml) {
					margin-left: 2rem;
				}

				@media only screen and (max-width: $container-size-m) {
					margin-left: 0;
					width: 50%;
				}

				&:first-of-type {
					margin-left: 0;
				}

				&:hover {
					text-decoration: underline;
					.icon-svg {
					//	fill: red;

					}
				}
				
				.service-item {
					width: 4rem;
					
					@media only screen and (max-width: $container-size-l) {
						width: 2.5rem;
						margin-left: 1.5rem;
					}

					@media only screen and (max-width: $container-size-m) {
						margin-left: 0;
						width: 100%;
					}


					display: flex;
					flex-direction: column;
					align-items: center;

					
					p {
						text-align: center;
						font-weight: bold;
					}

					svg {
						&.icon-svg {
							width: 100%;
							height: 5rem;
							fill: $ter-col;
							@media only screen and (max-width: $container-size-l) {
								width: 4rem;	
							}

							&:hover {
								fill: $lit-col;
							}
						}
					}


				}

			}
		}

	}

	.search-filter-wrapper {
		display: flex;
		flex-direction: row;
		position: relative;
		//height: 100%;
		padding-top: 7rem;
		padding-bottom: 5rem;
		margin-left: 10rem;
		@media only screen and (max-width: $container-size-m) {
			margin-left: 2rem;
			padding-left: 0;
			width: 100%;
			padding-right: 0;
		}

		@media only screen and (max-width: $container-size-l) {
			margin-left: 0;
		}

		margin-top: -8.1rem;
		padding-left: 5rem;
		padding-right: 3rem;
		z-index:2;
		background-color: $ter-col;
		@media only screen and (max-width: $container-size-m) {
			padding-bottom: 0;
		}
		
		.search-filter-container {
			background-color: $lit-col;
			padding-left: 3rem;
			margin-top: 1.1rem;
			display: flex;
			flex-direction: row;
			@media only screen and (max-width: $container-size-m) {
				padding-left: 1rem;
				width: 100%;
				padding-left: 0;
				margin-bottom: 0;
				padding-bottom: 0;
				background-color: $lit-col;
			}
			
			@media only screen and (max-width: $container-size-m) {
				flex-direction: column;
			}

			height: 100%;
			align-items: center;

			.search-text {
				font-size: 1.2rem;
				font-weight: bold;
				margin-right: 5vw;
				@media only screen and (max-width: $container-size-xl) {
					margin-right: 3vw;
				}
				
				@media only screen and (max-width: $container-size-l) {
					margin-right: 1vw;
				}


				@media only screen and (max-width: $container-size-m) {
					width: 100%;
					margin-right: 0;
					margin-left: 3.5rem;
					margin-top: 2rem;
					margin-bottom: 1rem;
					br {
						display: none;
					}
				}


			}

			.search-filter-bar {
				font-size: 1.2rem;
				margin-right: 1vw;
				padding-top: 1rem;
				padding-bottom: 1rem;
				padding-left: 2rem;
				padding-right: 2rem;
				width: 100%;
				@media only screen and (max-width: $container-size-xl) {
					font-size: 1rem;
					margin-right: 0.3vw;
				}
				
				@media only screen and (max-width: $container-size-l) {
					font-size: 0.9rem;
					line-height: 2.5rem;
					padding-right: 0;
				}

				@media only screen and (max-width: $container-size-m) {
					padding-right: $margin-size-m;
				}

				

				.select-wrapper {
					display: inline-block; 
					position: relative;
					@media only screen and (max-width: $container-size-m) {
						width: 100%;
					}

					select {
						border: none;
						border-bottom: dotted 3px $pri-col;
						margin-right: 2rem;
						padding-right: 0.4rem;
						min-width: 8rem;
						-webkit-appearance: none; // chrome / safari
						-moz-appearance: none;  // firefox
						&::-ms-expand { display: none; } // IE11
						border-radius: 0;
						-webkit-border-radius: 0px;
						position: relative;
						font-weight: lighter;
						color: $pri-col;
						background-color: white; // overwrite default

						@media only screen and (max-width: $container-size-xl) {
							min-width: 6rem;
						}

						padding-bottom: 0.3rem;
						@media only screen and (max-width: $container-size-m) {
							width: 100% !important;
							min-width: 100%;
							display: block;
							margin-bottom: 2rem;
							font-size: 1.3rem;
						}
					}

					&:after {
						position: absolute;
						right: 2rem;
						top: 0.5rem;
						content:" ";
						width: 0.4rem;
						height: 0.4rem;
						border-right: 1px solid $dar-col;
						border-bottom: 1px solid $dar-col;
						transform: rotate(45deg);

						@media only screen and (max-width: $container-size-l) {
							right: 1rem;
						}

						@media only screen and (max-width: $container-size-m) {
							top: 0.2rem;
							right: 1rem;
							width: 0.5rem;
							height: 0.5rem;
						}


						
					}
				}

				input {
					border: none;
					border-bottom: dotted 3px $pri-col;
					border-radius: 0;
					-webkit-border-radius: 0px;
					margin-right: 2rem;
					width: auto;
					width: 8rem;
					min-width: 8rem;
					font-weight: lighter;
					color: $pri-col;
					@media only screen and (max-width: $container-size-m) {
						width: 100% !important;
						min-width: 100%;
						display: block;
						margin-bottom: 2rem;
						font-size: 1.3rem;
					}

					@media only screen and (max-width: $container-size-xl) {
						min-width: 6rem;
						width: 6rem;
					}
					padding-bottom: 0.3rem;
					&::placeholder {
						color: $ter-col;
					}
				}
			}

		}

		.search-filter-button {

			color: $lit-col;
			width: 6rem; 
			height: 100%;
			font-size: 1.5rem;
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				padding-left: 2rem;
				padding-right: 2rem;
				display: none;
			}


			input {
				background-color: $qua-col;
				border: none;
				color: $lit-col;
				height: 100%;
				width: 100%;
				padding-top: 2rem;
				padding-bottom: 2rem;
				border-radius: 0;

				@media only screen and (max-width: $container-size-m) {
					padding-top: 1rem;
					padding-bottom: 1rem;
				}

				display: flex;
				text-align: center;
				justify-content: center;
				&:hover {
					background-color: $pri-col;
					cursor: pointer;
				}
			}
		}

		.search-filter-button-mobile {
			display: none; 
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				padding-left: $margin-size-m;
				padding-right: $margin-size-m;
				display: flex;
				a {
				display: flex;
				background-color: $qua-col;
				color: $lit-col;
				width: 100%;
				padding-left: 2rem;
				padding-right: 2rem;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				text-decoration: none;
				font-weight: bold;
				&:hover {
					background-color: $qui-col;
				}
					span {
						margin-left: auto;
					}
				}
			}
		}

	}

	.cta-banner-mobile {
		display: none;
		margin-top: 4rem;
		@media only screen and (max-width: $container-size-m) {
			display: block;
			width: 100%;
		}

	}

	.cta-banner {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		position: relative;
		min-height: 18rem;
		margin-top: 4rem;
		background-image: url("../resources/cta-banner.jpg");
		background-size: cover;
		background-repeat: none;
		background-position: center;
		padding-right: 5rem;
		align-items: flex-end;
		@media only screen and (max-width: $container-size-m) {
			padding-bottom: 0;
			padding-left: 2rem;
			padding-right: 2rem;
			background-image: none;
			margin-top: 0;
			min-height: 0;
			background-color: $ter-col;
		}

		.cta-text-wrapper {
			@media only screen and (max-width: $container-size-m) {
				margin-left: 0;		
				width: 100%;		
			}

			h3 {
				font-size: 3.5rem;
				margin-right: 1rem;
				margin-bottom: 0;
				@media only screen and (max-width: $container-size-m) {
					font-size: 2rem;
					margin-right: 0;
				}

			}

			p {
				margin-right: 1rem;
				font-size: 1.8rem;
				@media only screen and (max-width: $container-size-m) {
					margin-right: 0;
					margin-top: 0.5rem;
					font-size: 1.3rem;
				}

			}
		}

		a {
			text-decoration: none;
			background-color: $qua-col;
			color: $lit-col;
			font-weight: bold;
			padding-left: 2rem;
			padding-right: 2rem;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			height: auto;
			align-self: flex-end;
			position: absolute;
			bottom: -2.5rem;
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				position: relative;
				bottom: -2rem;;

			}

			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
				right: 6rem; // IE11 fix
			}

			&:hover {
				background-color: $pri-col;
			}
		}

	}

}

/* Footer  ---------------------------------- */
.quote-wrapper {
	min-height: 20rem;
	height: auto;
	margin-top: 3rem;
	padding-bottom: 4rem;
	background-color: $qui-col;

	.quote-beeldmerk {
		width: 100%;
		text-align: center;
		position: relative;
		height: 4rem;
		overflow: visible;
		margin-bottom: 1rem;
		@media only screen and (max-width: $container-size-m) {
			margin-bottom: 1rem;
		}
		top: -2rem;
		user-select: none;
	}

	h4 {
		font-size: 3rem;
		margin-top: 1rem;
		@media only screen and (max-width: $container-size-m) {
			margin-top: 0;
			font-size: 2.5rem;
			padding-left: $margin-size-m;
			padding-right: $margin-size-m;
			font-weight: lighter;
		}

		font-family: $fon-fam-ter;
		font-weight: normal;
		color: $dar-col;
		text-align: center;
	}

}

.primary-footer {
	min-height: 10rem;
	height: auto;
	width: calc(100% - 4rem);
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	align-self: flex-end;
	background-color: $sen-col;
	color: $lit-col;
	margin-top: -4rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 2rem;
	padding-bottom: 3rem;
	font-size: 1rem;
	position: relative;
	@media only screen and (max-width: $container-size-m) {
		width: 100%;
	}

	a {
		color: $lit-col;
		text-decoration: none;
		font-size: 1rem;

		&:hover {
			text-decoration: underline;
		}
	}

	.phone-icon {
		width: 3rem;
		position: absolute;
		right: 2rem;
		top: -1px;
		@media only screen and (max-width: $container-size-m) {
			width: 4rem;

		}
		img {
			width: 100%;
		}
	}

	.footer-row-1 {
		display: flex;
		flex: 1;
		flex-direction: row;
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column-reverse;
			font-size: 1.3rem;
		}


		
		.footer-links-wrapper {
			width: 100%;
			display: flex;
			flex: 1;
			flex-direction: row;
			@media only screen and (max-width: $container-size-m) {
				flex-direction: column;
			}

			.footer-links-col-1 {
				margin-right: 2rem;
				a {
					color: $ter-col;
				}
				@media only screen and (max-width: $container-size-m) {
					font-size: 1.3rem;
					margin-right: 0;
					a {
						font-size: 1.5rem;
					}
				}

			}

			.footer-links-col-2 {
				a {
					color: $ter-col;
				}
				@media only screen and (max-width: $container-size-m) {
					margin-right: 0;

					a {
						font-size: 1.5rem;
					}
				}
			}

		}
		
		.footer-contact-wrapper {
			flex: 1;
			align-items: center;
			text-align: right;
			margin-top: 1rem;
			@media only screen and (max-width: $container-size-m) {
				text-align: left;
				margin-bottom: 3rem;
				margin-top: 2rem;
			}
			@media only screen and (max-width: $container-size-s) {
				margin-top: 2rem;
			}

			.contact-phone {
				a {
					font-size: 2.3rem !important;
					font-weight: bold;

					@media only screen and (max-width: $container-size-m) {
						font-size: 2rem;
						text-align: right;
					}

					margin-bottom: 0.3rem;
				}
			}

			a {
				@media only screen and (max-width: $container-size-m) {
					display: block;
					width: 100%;
					text-align: right;
				}
			}
		}
	}

	.footer-row-2 {
		flex: 1;
		margin-top: 2rem;
		a {
			align-items: center;
			display: flex;
			color: $ter-col;
		}
		@media only screen and (max-width: $container-size-m) {
			margin-top: 4rem;
			white-space: nowrap;
			a {
				align-items: center;
				display: flex;
				font-size: 1.2rem;
			}
		}

		.nvm-logo {
			width: 1.3rem;
			margin-right: 1rem;
			@media only screen and (max-width: $container-size-m) {
				width: 1.3rem;
				margin-right: 1rem;
			}
		}
		.rating {
			color: $qua-col;
			font-weight: bold;
			margin-left: 0.3rem;
			margin-right: 0.3rem;
		}
		
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			display: none; // IE11 fix temp
		}
	}

}

.secondary-footer {
	display: flex;
	color: $oct-col;
	margin-left: 4rem;
	align-items: center;
	flex-wrap: wrap;
	@media only screen and (max-width: $container-size-m) {
		margin-left: 0;
		width: 100%;
		padding-left: 2rem;
		align-items: baseline;
		flex-direction: column-reverse;
	}
	.links-wrapper {
		@media only screen and (max-width: $container-size-m) {
			margin-top: 2rem;
		}

		span {
			margin-right: 1rem;
			@media only screen and (max-width: $container-size-m) {
				display: block;
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}
		}
		a {
			color: inherit;
			font-size: inherit;
			margin-right: 1rem;
			text-decoration: none;
			margin-right: 0.5rem;
			@media only screen and (max-width: $container-size-m) {
				display: block;
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}
			&:hover {
				text-decoration: underline;
			}

			.entity {
				@media only screen and (max-width: $container-size-m) {
				display: none;
				}
			}
		}
	}
 

	.social-links {
		margin-left: auto;
		font-size: 0; // remove space between icons
		@media only screen and (max-width: $container-size-m) {
			margin-top: 0;
		}

		a {
			width: 3rem;
			display: inline-block;
			margin-right: 0;

			.fb-icon {
				fill: #3b5997;
			}

			.tw-icon {
				fill: #089fe8;
			}
			.in-icon {
				fill: #0077b4; 
			}

			svg {
				&:hover {
					fill: $pri-col;
				}
			}


		}

	}

}


/* 2col layout  --------------------------------------*/

.column-header {
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: row;
	margin-top: 3rem;
	position: relative;

	@media only screen and (max-width: $container-size-m) {
		flex-direction: column-reverse;
		margin-top: 0;
	}

	.header-title-wrapper {
		flex: 1;
		flex-shrink: 0;
		flex-grow: 0;
		flex-basis: 25rem;
		@media only screen and (max-width: $container-size-l) {
			flex-basis: 20rem;
		}
		@media only screen and (max-width: $container-size-m) {
			flex-basis: 0;
		}

		.header-title {

			padding-left: 6rem;
			padding-right: 6rem;
			padding-top: 2rem;
			padding-bottom: 2rem;
			z-index: 15;
			background-color: $overlay-col;
			position: absolute;
			bottom: 0;
    		max-width: 50rem;
   			min-width: 40rem;
  			@media only screen and (max-width: $container-size-m) {
				min-width: 0;
				max-width: none;
  				min-width: 100% !important;
  				max-width: 100% !important;
				width: 100%;
				position: relative;
				top: 0;
				transform: none;
				padding-left: $margin-size-s;
				padding-right: $margin-size-s;
				padding-top: 1rem;
				padding-bottom: 2rem;
  			}

			.title-category {
				font-weight: bold;
			}

			.title-description {
				font-weight: bold;
				font-size: 1.2rem;
				line-height: 1.5rem;
			}

			h1 {
				font-size: 3.5rem;
				padding-top: 0;
				margin-top: 0;
	  			@media only screen and (max-width: $container-size-m) {
	  				word-break: break-word;
	  				font-size: 2rem;
	  			}

			}

			.scroll-down {
				color: $pri-col;
				text-decoration: none;
				margin-top: 2rem;
				display: flex;
				@media only screen and (max-width: $container-size-m) {
					display: none;
				}


				&:hover {
					text-decoration: underline;
				}
			}

		}

	}
	
	.content-image {
		position: relative;
		width: 100%;
		background-size: cover;
		background-position: 50% 50%;
		background-image: url("../resources/homepage-header.jpg");
		height: 19rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		margin-right: 6rem;
		@media only screen and (max-width: $container-size-l) {
			margin-right: 0 !important;
		}
		@media only screen and (max-width: $container-size-m) {
			padding-top: 0;
			padding-bottom: 0;
			height: 30vh;
			background-position: 100% 50%;
		}


	}

}

.column-content {	
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: row;
	margin-top: 3rem;
	margin-bottom: 1rem;
	@media only screen and (max-width: $container-size-m) {
		flex-direction: column-reverse;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	
	.column-sidebar {
		display: flex;
		flex-direction: column;
		flex: 1;
		flex-shrink: 0;
		flex-grow: 0;
		flex-basis: 25rem;
		padding-right: 5rem;
		
		@media only screen and (max-width: $container-size-xl) {
			padding-left: $margin-size-m;
			padding-right: $margin-size-m;
		}
		
		@media only screen and (max-width: $container-size-l) {
			flex-basis: 20rem;
		}

		@media only screen and (max-width: $container-size-m) {
			flex-basis: auto;
			padding-left: $margin-size-s;
			padding-right: $margin-size-s;
		}

		.sidebar-title {
			font-size: 3rem;
			margin-left: 1rem;
			@media only screen and (max-width: $container-size-l) {
				font-size: 2rem;
			}
			@media only screen and (max-width: $container-size-m) {
				margin-left: 0;
			}


		}

		.sidebar-nav {
			margin-left: 4rem;
			margin-bottom: 3rem;
			font-weight: bold;
			line-height: 2rem;
			list-style: none;

			@media only screen and (max-width: $container-size-m) {
				margin-left: 0;
			}

			li {
				&.active {
					color: $qua-col;
					a {
						color: $qua-col;
					}
				}

				&.sub {
					margin-left: 1.5rem;
				}

				a {
					text-decoration: none;
					white-space: nowrap;
					font-size: 1.3rem;
					&:hover {
						text-decoration: underline;
						color: $qua-col;
					}
				}
			}
		}

		.sidebar-widget {
			margin-left: 4rem;
			margin-bottom: 2rem;
			background: $oct-col;
			padding-left: 2rem;
			padding-right: 2rem;
			padding-top: 1.5rem;
			padding-bottom:0.5rem;
			color: $lit-col;
			@media only screen and (max-width: $container-size-m) {
				margin-left: 0;
				padding-left: $margin-size-s;
			}

			
			a {
				text-decoration: none;
				color: $lit-col;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}

			h3 {
				margin-top: 0;
				color: $lit-col;
				font-size: 1.5rem;
			}
			p {
				color: $lit-col;
					font-size: 1rem;
			}
		}

	}

	.column-content {
		flex: 2;
		line-height: 1.8rem;
		margin-top: 0;

		.content-wrapper {
			padding-right: 13rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			@media only screen and (max-width: $container-size-l) {
				padding-right: $margin-size-m;
			}

			@media only screen and (max-width: $container-size-m) {
				padding-left: $margin-size-s;
				padding-right: $margin-size-s;
			}
			
			h2 {
				font-size: 2.5rem;
				line-height: 3rem;
				margin-top: 0;
				padding-top: 0;
				@media only screen and (max-width: $container-size-m) {
					margin-top: 2rem;
					font-size: 2rem;
					word-break: break-word;
				}
			}

			h3 {
				font-size: 1.5rem;
				padding-bottom: 0;
				margin-bottom: 0;
			}

			.intro {
				font-weight: bold;
			}

			a {
				font-size: inherit;
				&:hover {
					color: $qua-col;
				}
			}

			p {
				ul {
					margin-left: 1rem;
				}
				a {
					font-size: inherit;
					&:hover {
						color: $qua-col;
					}
				}
			}
			
			ul {
				margin-left: 1rem;
			}
			
			img {
				max-width: 100%;
				height: auto;
			}

			hr {
				color: $qui-col;
				border-color: $qui-col;
				background-color: $qui-col;
				height: 1px;
				outline: 0;
				border: none;
			}
			
			.attention-block {
				background-color: $non-col;	
				padding-top: 3rem;
				padding-bottom: 3rem;
				padding-left: 3rem;
				padding-right: 3rem;
				//font-size: 1.8rem;
				//line-height: 2.5rem;
				//font-family: $fon-fam-sec;
				p {
					margin-top: 0;
				}
				ul {
					list-style-position: inside;
					margin-left: 1rem;
					// font-size: 1.2rem;
					// font-family: $fon-fam-pri;
					// font-weight: bold;
					// line-height: 1.7rem;
				}
			}

			.cta-button {
				font-size: 1.1rem;
				background: $qua-col;
				color: $lit-col;
				text-decoration: none;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				display: inline-flex;
				align-items: center;
				.icon {
					margin-right: 1rem;
					width: 1.5rem;
					height: 1.5rem;
				}
				@media only screen and (max-width: $container-size-m) {
					width: 100%;
					text-align: center;
				}

				.arrow {
					margin-left: 2rem;
				}

				&:hover {
					background-color: $pri-col;
					color: $lit-col;
				}
			}
		}
	}

}

/* Actueel overzicht ------------------------------- */

.actueel-overzicht {
	.column-content {
		.column-content {
			.content-wrapper {
				padding-right: 0;
				@media only screen and (max-width: $container-size-m) {
					padding-left: 0;
				}

				width: 100%;

				.items-wrapper {
					margin-top: 0;
					margin-left: 0;
					margin-right: 0;
					@media only screen and (max-width: $container-size-m) {
						margin-bottom: 2rem;
					}
					.items-container {
						margin-left: 0;
						margin-right: 0;
						.item-container {

							margin-bottom: 3rem;
							&:nth-child(even) {
								margin-top: 4rem;
							}
							&:hover {
								.item-button {
									background-color: $qua-col;
								}
								.hover-overlay {
									background: rgba(255, 255, 255, 0.15);
								}
							}
							
							@media only screen and (max-width: $container-size-l) {								
								margin-top: 0 !important;
								margin-bottom: 1rem;
								margin-right: 3rem;
							}

							@media only screen and (max-width: $container-size-m) {
								margin-bottom: 1rem;
								margin-right: 0;
							}

						}
					}
				}

			}
		}
	}
}


/* Paging -------------------------------------------  */
.paging-wrapper {
	display: flex;
	align-items: center;
	@media only screen and (max-width: $container-size-m) {
		flex-direction: column;
		margin-bottom: 2rem;
	}

	.text-wrapper {
		@media only screen and (max-width: $container-size-m) {
			width: 100%;
			padding-left: $margin-size-s;
			padding-right: $margin-size-s;
			text-align: center;
		}
		.bold {
			font-weight: bold;
		}
	}

	.numbers-wrapper {
		margin-left: auto;
		font-weight: bold;
		@media only screen and (max-width: $container-size-m) {
			width: 100%;
			padding-left: $margin-size-s;
			padding-right: $margin-size-s;
			text-align: center;
		}
		
		span {
			a {
				padding-left: 1.2rem;
				padding-right: 1.2rem;
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				font-size: 1rem;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					background-color: $pri-col;
					color: $lit-col;
					text-decoration: none;
				}
			}
			&.active {
				color: $ter-col;
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
			&.no-link {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		}

		.next {
			background-color: $pri-col;
			margin-left: 1rem;
			display: inline-block;
			a {
				display: block;
				text-decoration: none;
				color: $lit-col;
				font-size: 1rem;
				padding-left: 1rem;
				padding-right: 1rem;
				padding-top: 0.7rem;
				padding-bottom: 0.7rem;
				&:hover {
					background: $ter-col;
				}
			}
		}

	}



}

/* Aanbod overzicht  -------------------------------------------  */
.aanbod-overzicht {
	.column-content {
		
		.content-wrapper {
			margin-right: 0;
			padding-right: 0;
			@media only screen and (max-width: $container-size-m) {
				padding-right: $margin-size-s;
			}

			.item-wrapper {
				margin-right: 0;
				> a {
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}	
				.item-image {
					position: relative;
					flex: 2;
					min-height: 20rem;

					a {
						display: flex;
						text-decoration: none;

						img {
							max-width: 100%;
							height: auto;
							min-width: 100%;
							align-self: center;
						}

					}
				}

			}

		}

		.banner-wrapper {
			margin-right: 0;
		}

	}

	.filter-wrapper {
		@media only screen and (max-width: $container-size-m) {
			display: none;
		}
	}
	.column-content {
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
		}
	}


}

.sidebar-filtering {
	margin-left: 4rem;
	@media only screen and (max-width: $container-size-m) {
		margin-left: 0;
	}

	.filter-head {
		font-weight: bold;
		font-size: 1.2rem;
		margin-top: 2rem;
		cursor: pointer;
		&.active {
			color: $qua-col;
		}
	}

	.remove-filter {
		display: flex;
		align-items: center;
		text-decoration: none;
		font-size: 1rem;
		&:hover {
			color: red;
			cursor: pointer;
			text-decoration: none;
		}
		.remove-icon {
			color: red;
			margin-left: 0.5rem;
		}
	}

	input {
		width: 100%;
		border: none;
		border-bottom: solid 1px $ter-col;
		margin-bottom: 1.5rem;
		color: $pri-col;
		&::placeholder {
			color: $ter-col;
		}
	}

	.select-wrapper {
		display: inline-block; 
		position: relative;
		width: 100%;
		select {
			width: 100%;
			border: none;
			border-bottom: solid 1px $ter-col;
			margin-bottom: 1.5rem;
			-webkit-appearance: none; // chrome / safari
			-moz-appearance: none;  // firefox
			&::-ms-expand { display: none; } // IE11
			text-indent: 5px
;		}
		&:after {
			position: absolute;
			right: 0;
			top: 0.1rem;
			content:" ";
			width: 0.4rem;
			height: 0.4rem;
			border-right: 1px solid $dar-col;
			border-bottom: 1px solid $dar-col;
			transform: rotate(45deg);

			@media only screen and (max-width: $container-size-m) {
				top: 0.2rem;
				right: 0;
				width: 0.5rem;
				height: 0.5rem;
			}


			
		}
	}


	.more-filters {
		margin-top: 2rem;
		margin-bottom: 3rem;
		@media only screen and (max-width: $container-size-m) {
			margin-bottom: 1rem;
		}

	}

	.filter-list-wrapper {
		margin-top: 1rem;

		.filter-head {
			margin-top: 0;
			margin-bottom: 1rem;
			a {
				text-decoration: none;
				&:hover {
					color: $qua-col;
				}
			}
		}
	}


}

.item-wrapper {

	display: flex;
	flex-direction: row;
	margin-bottom: 5rem;
	margin-right: 6rem;
	@media only screen and (max-width: $container-size-xl) {
		margin-right: 3rem;
	}
	@media only screen and (max-width: $container-size-ml) {
		margin-right: 1rem;
		flex-direction: column-reverse;
	}
	@media only screen and (max-width: $container-size-m) {
		margin-right: 0;
		margin-bottom: 3rem;
	}
	
	> a {
		flex: 1;
		position: relative;
	
		&:hover {
			.hover-overlay {
				background: rgba(255, 255, 255, 0.1);	
				transition: background 0.3s ease-in-out;

			}
		}

		.item-description {
			.item-overlay-wrapper {	
				background-color: $overlay-col;
				color: $pri-col;
				padding-top: 2rem;
				padding-bottom: 2rem;
				padding-left: 3rem;
				padding-right: 2rem;
				position: absolute;
				bottom: 0;
				width: calc(100% + 4rem);
				overflow: visible;
				z-index: 5;
				@media only screen and (max-width: $container-size-xl) {
					padding-top: 2rem;
					padding-bottom: 2rem;
					width: calc(100% + 4rem);
				}

				@media only screen and (max-width: $container-size-l) {
					width: calc(100% + 12rem);

				}

				@media only screen and (max-width: $container-size-ml) {
					width: 100%;
					position: relative;
				}

				@media only screen and (max-width: $container-size-m) {
					padding-left: $margin-size-s;
					padding-right: $margin-size-s;
				}

				&:hover {
					background: $overlay-col-sec;
					transition: background 0.3s ease-in-out;
				}

				.item-title {
					font-weight: bold;
					font-size: 1.3rem;
					padding-bottom: 0;
					margin-bottom: 0.5rem;
					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline
						}
					}
				}

				.item-subtitle {
					font-size: 1.3rem;
					margin-top: 0;
					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline
						}
					}
				}

				.item-bold-title {
					font-weight: bold;
					margin-top: 1.5rem;
					margin-bottom: 0;
					padding-bottom: 0;
					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline
						}
					}

				}

				.item-sub-subtitle {
					margin-bottom: 1.5rem;
				}

				p {
					margin-top: 0;
					margin-bottom: 0;
				}

			}
		}

		.item-image {
			position: relative;
			flex: 2;
			line-height: 0;

			img {
				width: 100%;
			}
			
			.hover-overlay {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				cursor: pointer;
				z-index: 6;
				transition: all 0.3s ease-in-out;
				background: rgba(0, 0, 0, 0);	
				&:hover {
					background: rgba(255, 255, 255, 0.15);	
				}
			}
			

		}

	}

}

.back-link {
	text-decoration: none;
	font-size: 1rem;
	color: $pri-col;
	margin-left: 4rem;
	margin-top: auto;
	display: flex;
	font-weight: bold;
	&.ali-top {
		margin-top: 0;
	}

	@media only screen and (max-width: $container-size-m) {
		margin-left: 0;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

}

.anchor {
	display: block;
	position: relative;
	top: -2rem;
	visibility: hidden;
}

.hover-overlay {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	transition: all 0.3s ease-in-out;
	background: rgba(0, 0, 0, 0);	
	&:hover {
		background: rgba(255, 255, 255, 0.15);	
	}
}

.image-label {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: bold;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	color: $lit-col;
	z-index: 7;
	
	@media only screen and (max-width: $container-size-m) {
		font-size: 1rem;
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
		padding-left: 0.7rem;
		padding-right: 0.7rem;
	}

	&.status-new {
		background-color: $qua-col;

	}
	
	&.status-sold {
		background-color: $pri-col;

	}
	
	&.status-soldsubject {
		background-color: $pri-col;
	}

	&.status-loweredprice {
		background-color: $qua-col;
	}

}

.banner-wrapper {
	background-color: $oct-col;
	color: $lit-col;
	height: auto;
	display: flex;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
	padding-right: 2rem;
	margin-right: 6rem;
	margin-bottom: 3rem;
	@media only screen and (max-width: $container-size-xl) {
		margin-right: 3rem;
	}
	@media only screen and (max-width: $container-size-l) {
		flex-direction: column;
		margin-right: 0;
	}

	.banner-title {
		font-size: 2.5rem;
		font-family: $fon-fam-sec;
		margin-right: 15rem;
		margin-bottom: 0;
		flex: 5;
		line-height: 2.5rem;
		align-self: flex-end;
		@media only screen and (max-width: $container-size-l) {
			margin-right: 0;
		}
		@media only screen and (max-width: $container-size-m) {
			margin-top: 0;
			margin-bottom: 2rem;
			font-size: 2rem;
		}


	}

	a {
		flex: 2;
		align-self: flex-end;
		color: $lit-col;
		text-decoration: none;

		&:hover {
			color: $qui-col;
		}
	}

}

/* Aanbod detail template ----------------------------------------- */

.aanbod-detail {
	.column-header {
		.header-title {
			background-color: $overlay-col;
		}
	}

	.content-image {
		// background-image: none;
		height: auto;
		min-height: 30rem;
		padding-top: 0;
		padding-bottom: 0;

		.image-container {
			height: 100%;
			@media only screen and (max-width: $container-size-m) {
				margin-bottom: 1rem;
			}
			.rsArrowLeft {
				right: 10rem;
				height: 5rem;
				width: 5rem;
				bottom: 3px;
				.rsArrowIcn {
					background-image: none !important;
					background-color: rgba(0,48,100, 0.1);
					padding: 0;
					margin: 0;
					width: 100%;
					height: 100%;
					&:hover {
						background-color: $pri-col;
					}
					&:after {
						content: "\2190";
						text-align: center;
						color: $lit-col;
						display: block;
						line-height: 4.5rem;
					}
				}
			}

			.rsArrowRight {
				height: 5rem;
				width: 5rem;
				right: 5rem;
				bottom: 3px;

				.rsArrowIcn {
					background-image: none !important;
					background-color: $oct-col;
					padding: 0;
					margin: 0;
					width: 100%;
					height: 100%;
					&:hover {
						background-color: $pri-col;
					}
					&:after {
						content: "\2192";
						text-align: center;
						color: $lit-col;
						display: block;
						line-height: 4.5rem;
					}
				}
			}

			.rsFullscreenBtn {
				display: flex;
				align-items: center;
				top: initial;
				right: 0rem;
				bottom: 3px;
				height: 5rem;
				width: 5rem;
				background-color: $ter-col;
				justify-content: center;
				.rsFullscreenIcn {
					&:hover {
						background-color: $pri-col;
						opacity: 1 !important;
					}
				}

				&:hover {
					background-color: $pri-col;
				}
			}
		}
	}

	.banner-wrapper {
		margin-left: 4rem;
		margin-top: 2rem;
		@media only screen and (max-width: $container-size-m) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.content-wrapper {
		
		#map_canvas {
			width: 100%;
			height: 100%;
		}

		form {
			display: flex;	
			fieldset {
				width: 50%;
				border: none;
				padding-right: 2rem;
				input {
					display: block;
					margin-bottom: 2rem;
					width: 100%;
					border: 0 solid white;
					border-bottom: 1px dotted $pri-col;
					background-color: transparent;
					-webkit-transition: background-color 200ms ease-in-out;
					transition: background-color 200ms ease-in-out;
					&.error {
						color: red;
						&::placeholder {
							color: red;
						}
					}

					&[type="submit"] {
						padding: 1rem;
						background-color: $qua-col;
						color: $lit-col;
						cursor: pointer;
						border: none;
						&:hover {
							background-color: $pri-col;
							color: $lit-col;
						}
					}
				}
				textarea {
					height: 100%;
					max-height: 15rem;
					width: 100%;
					padding: 0.5rem;
					margin-bottom: 1rem;
					border: 1px dotted $pri-col;
				}

			}
		}

		table {
			width: 100%;
			max-width: 40rem;
			margin-bottom: 2rem;

			th {
				text-align: left;
				padding-right: 2rem;
				width: 15rem;
			}
		}

	}

}


/* Actueel detail ---------------------------------------------- */

.actueel-detail {
	.header-title {
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
  		bottom: none;
	}
	.content-image {
		height: 35rem;
		@media only screen and (max-width: $container-size-m) {
			height: 18rem;
		}
	}
}


/* Contact ---------------------------------------------------- */

.contact {

	.content-image {
		padding-top: 0;
		padding-bottom: 0;
		background-image: none;
		height: auto;
		@media only screen and (max-width: $container-size-m) {
			height: auto !important;
		}

	}

	.header-title {
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
  		bottom: unset !important;
  		max-width: 33rem !important;
  		min-width: 33rem !important;
	}
	.content-image {
		height: 35rem;
		@media only screen and (max-width: $container-size-m) {
			height: 18rem;
		}
	}
	
	.column-content {
		padding-top: 1rem;
	}

	.location-wrapper {
		display: flex;
		margin-bottom: 4rem;

		@media only screen and (max-width: $container-size-ml) {
			flex-direction: column-reverse;
			margin-bottom: 2rem;
		}
		
		&:last-of-type {
			margin-bottom: 0;
		}
		
		.location-details {
			flex: 2;
			.times-table {
				border-collapse: collapse;
				margin-bottom: 1em;
				margin-left: -0.5rem;
				td {
					padding-left: 0.5rem;
					padding-right: 0.5rem;
				}
				.today {
					background-color: $ter-col;

				}
			}

		}
		
		.location-photo {
			flex: 3;
			img {
				width: 100%;
				height: auto;
			}
		}

	}

	.social-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		font-weight: bold;
		
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
			text-align: left;
			align-items: flex-start;
		}

		.social-items {
			display: flex;
			margin-left: auto;
			align-items: center;
			
			@media only screen and (max-width: $container-size-m) {
				margin-left: 0;
				margin-top: 1rem;
			}

			span {
				margin-right: 1rem;
			}

			a {
				width: 3rem;
				display: inline-block;
				margin-right: 0;
				img {
					width: 100%;
					height: auto;
				}
			}

		}

	}


}

/* Contact form overlay --------------------------------- */

.a-fadeIn {
	animation: fadeIn .25s forwards;
}

.a-fadeOut {
	animation: fadeOut .25s;
}

.a-fadeDown {
	animation: fadeDown .25s;
}

.error {
	border-color: $sec-col !important; 
}

#bedankt-melding {
	text-align: center;
}

.contact-overlay-wrapper {
	display: none; // Toggle with JS
	//display: block; // debug mode
	background-color: $non-col;
	z-index: 99;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: $pri-col;
	// needed for js toggle
	&.Contact--show {
		display: flex;
		flex-direction: column;
		overflow: scroll;
	}
	
	.contact-overlay-container {
		width: 60vw;
		padding-top: 5vh;
		@media only screen and (max-width: $container-size-m) {
			width: 70vw;
		}

		@media only screen and (max-width: $container-size-s) {
			width: 90vw;
		}

		margin: 0 auto;
		display: flex;
		align-items: center;
		height: 100%;
		.contact-content-wrapper {
			display: flex;
			flex-direction: row;
			@media only screen and (max-width: $container-size-m) {
				flex-direction: column;
			}

			margin-bottom: 2rem;	
			h2 {
				flex: 2;
				line-height: 3.5rem;
				@media only screen and (max-width: $container-size-m) {
					font-size: 4rem;
				}

			}
			form {
				flex: 3;
			}
		}

		h2 {
			font-size: 4em;
			margin-right: 1em;
			margin-top: 0;
			color: $pri-col;
			text-align: right;
			line-height: 3rem;

			@media only screen and (max-width: $container-size-s) {
				font-size: 1.5em;
			}
		}
		.label-wrapper {
			display: flex;
			flex-direction: row;
			input {
				flex: 2;
			}
			label {
				flex: 1;
				display: flex;
				align-items: center;
				font-weight: bold;
				border: solid 1px $lit-col;
				border-right: 0;
				padding-left: 1rem;
				padding-right: 1rem;
				flex-shrink: 0;
				flex-grow: 0;
				flex-basis: 10rem;
			}
		}

		input {
			display: block;
			border-color: $lit-col;
			background-color: $non-col;
			color: $pri-col;
			font-family: $fon-fam-pri;
			font-weight: bold;
			width: 100%;
			box-sizing: border-box;
			border-radius: 0;
			border: solid 1px $lit-col;
			padding-left: 1em;
			padding-top: 0.5em;
			padding-right: 1em;
			padding-bottom: 1em;

			&::placeholder {
				color: $pri-col;
				font-family: $fon-fam-sec;
				font-weight: normal;
			}

			&[type="submit"] {
				margin-top: 1em;
				background-color: $qua-col;
				color: $lit-col;
				border: none;

				&:hover{
					color: $lit-col;
					background-color: $pri-col;
					cursor: pointer;
					border: none;
				}
			}
		}

		textarea {
			box-sizing: border-box;
			width: 100%;
			height: 15rem;
			-webkit-appearance: none;
			@media only screen and (max-width: $container-size-s) {
				height: 7em;
			}
			padding-left: 1em;
			padding-right: 1em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			background: $non-col;
			border-color: $lit-col;
			border: solid 1px $lit-col;
			color: $pri-col;
			font-family: $fon-fam-pri;
			font-weight: normal;

			&::placeholder {
				color: $pri-col;
				font-family: $fon-fam-pri;
				font-weight: bold;
			}

		}


		.close-overlay{
			position: absolute;
			right: 2em;
			top: 2em;
			fill: $pri-col;
			text-decoration: none;

			&:hover {
				fill: $qua-col;
				cursor: pointer;
			}

			width: 2em;
			height: 2em;
		}

		.close-overlay-text {
			text-align: center;
			text-decoration: none;
			margin-top: 1rem;
			padding-bottom: 2em;
			@media only screen and (max-width: $container-size-s) {
				margin-top: 3vh;
			}
			&:hover {
				color: $qua-col;
				cursor: pointer;
			}
		}
	}
}


/* Zoekersformulier -------------------------------------- */

.zoekersformulier {
	.column-content .column-content {
		.content-wrapper {
			padding-right: 1rem;
			@media only screen and (max-width: $container-size-m) {
				padding-right: $margin-size-s;
			}

			padding-right: 0;
			width: 100%;
		}
	}


	form {
		width: 100%;
		font-size: 0;
	}

	input {
		font-size: 1rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		margin-bottom: 1rem;
		border: solid 1px $ter-col;
		color: $pri-col;
		@media only screen and (max-width: $container-size-m) {
			&[type=text]{
				width: 100%;
			}
		}
		
	}

	select {
		font-size: 1rem;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		border: solid 1px $ter-col;
		@media only screen and (max-width: $container-size-m) {
			width: 100% !important;
			margin-bottom: 1rem;
		}
	}

	label {
		font-size: 1rem;
	}

	.subtitle {
		font-weight: bold;
	}


	.title-row-wrapper {
		display: flex;
		align-items: center;
		margin-top: 2rem;
		margin-bottom: 1rem;

		.title-text {
			flex-grow: 0;
			flex-shrink: 0;
			flex: 0;
			font-size: 1.2rem;
			font-weight: bold;
			white-space: nowrap;
			margin-right: 1.5rem;
			flex-basis: auto;
		}

		.title-line {
			flex-grow: 1;
			flex: 2;
			height: 2px;
			background-color: $pri-col;
		}
	}
	
	.name-row {
		display: flex;
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
		}
		.gender-wrapper {
			white-space: nowrap;
		}

		label {
			margin-right: 1rem;
		}
	}

	.contactgegevens-row {
		div {
			display: inline;
		}
		a {
			font-size: 1rem;
		}
	}

	.plaats-row {
		display: flex;
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
		}
		
		label {
			
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
			}

			select {

				width: 100%;
			}
		}

		select {
			width: 100%;
		}

		.size20 {
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
			}
		}

		.size40 {
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.plaatskeuzes {
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
			}
		}
		.control-arrows-wrapper {
			display: flex;
			flex-direction: row;
			text-align: center;
			div {
				flex: 1;
				flex-shrink: 0;
				a {
					display: inline-flex;
					text-decoration: none;
					text-align: center;
					background-color: $qua-col;
					color: $lit-col;
					padding-left: 1rem;
					padding-right: 1rem;
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					@media only screen and (max-width: $container-size-m) {
						transform: rotate(90deg);
						margin-top: 1rem;
						margin-bottom: 1rem;
					}

					&:hover {
						background-color: $pri-col;
						color: $lit-col;
					}
				}
			}

		}
	}

	.financieel-row {
		display: flex;
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
		}
		.checkbox-wrapper {
			white-space: nowrap;
		}

		.size30 {
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				margin-bottom: 1rem;
			}
		}
	}

	.form-item {
		padding-left: 1rem;
		padding-right: 1rem;
		margin-right: 1rem;
		font-size: 1rem;
		&:first-of-type {
			margin-left: 0;
		}

		&:last-of-type {
			margin-right: 0;
		}


	}

	.kenmerken-row {
		display: flex;
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
		}
	}

	.opmerkingen-row {
		display: flex;
		@media only screen and (max-width: $container-size-m) {
			flex-direction: column;
		}
		textarea {
			height: 5rem;
			margin-right: 1rem;
			border: solid 1px $ter-col;
			padding-left: 1rem;
			padding-right: 1rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			font-size: 1rem;
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				margin-bottom: 1rem;
			}
		}

		input[type="submit"] {
			height: 5rem;
			background-color: $qua-col;
			color: $lit-col;
			cursor: pointer;
			@media only screen and (max-width: $container-size-m) {
				width: 100%;
				margin-bottom: 1rem;
			}

			&:hover {
				background-color: $pri-col;
			}
		}

	}

	.size10 {
		width: 10%;
	}
	
	.size15 {
		width: 15%;
	}
	
	.size20 {
		width: 20%;
	}

	.size25 {
		width: 25%;
	}

	.size30 {
		width: 30%;
	}

	.size40 {
		width: 40%;
	}

	.size50 {
		width: 50%;
	}
	.size75 {
		width: 75%;
	}


}


/* Partners ----------------------------------------------- */

.partners-table {
	td {
		width: 25%;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		img {
			width: auto;
			max-width: 70%;
			height: auto;
		}
	}
}

/* mediaquery example
@media only screen and (max-width: $container-size-s) {

}


/* IE 11 only example

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

*/ 